page-update-user-name {
.loginbox .label {
    margin: 10px 0px 0px 10px !important;
}
.loginbox {
    padding: 15px 25px !important;
    border: 1px solid #999 !important;
}
.loginbox .button {
    margin: 20px 0 !important;
}
.list {
    padding: 0px !important;
}
.item {
    padding: 0px !important;
}
.scroll-content {
    padding-bottom: 70px !important;
}
}
