page-delivery {
ion-list-header.list-header{
        border-top: none !important;
    }
    form .label {
        margin-left: 5px !important;
    }
    .shopbox {
        border-radius: 5px;
        padding-bottom: 10px;
    }
    .delmarg {
        margin: 9px 0px 0px 0px !important;
    }
    .label {
        margin: 0px;
    }
    .item-radio-checked {
        background: #ececec;
        color: #2c6421 !important;
    }
    ion-img{
        background: transparent;
    }
    .payment-lable{
        margin-left: 8px !important;
    }
    .payment-row-input{
        padding: 0 5px;
    }
    .expiry-date{
        margin-left: 0 !important;
    }
    .slide-zoom {
        // height: 100%;
        // overflow-y:scroll;
        // .orderPage.row::-webkit-scrollbar { 
        //     width: 0px !important;
        //     background: transparent !important;
        // } 
    }
    .swiper-pagination{
        bottom: 0px !important;
    }
    ion-slides{
        height: auto !important;
    }
    .border-top{
        border-top: 1px solid #ccc !important;
    }
    .shopbox .item-inner{
        padding-bottom: 5px !important;
    }
    .header-select-address{
        padding: 0 10px !important;
    }
    .form-item{
        padding: 5px; 
    }
    .deliver-date-box{
        padding: 10px !important;
        border: 1px solid #aaa;
        border-radius: 5px;
        max-width: 300px;
    }
    .text-input {
        margin: 0px;
    }
    .item-radio {
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    .shopbox ion-item {
        margin-bottom: 10px !important;
    }
}
ion-popover{
    .popover-content{
        overflow-y: hidden;
    }
}